@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
a {
    text-decoration: none;
    color: #b5b5b5ed;

}
* {
    box-sizing: border-box;
}
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.body1 {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        60deg,
        #212038,
        #212038 40px,
        #1e1e36 40px,
        #1e1e36 80px
      );
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainBox {
    width: clamp(750px, 50vw, 1000px);
    height: 80%;
    background: #50505019;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #5a5a5a96;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scrollbar-color: #5e5e5e5e #21203891;
    scrollbar-width: thin;
}
.game {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0;
    background-color: #21203891;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: #b5b5b5ed;
}
.img {
    height: 64px;
    margin-right: 10%;
    width: 64px;
    border-radius: 20%;
    border: 3px solid rgb(0, 0, 0);
    /* box-shadow: rgb(41, 41, 41) 4px 4px; */
    margin-left: 1%;
    flex-shrink: 0;
    object-fit: cover;   
    /* image-rendering: pixelated; */
}
.name {
    color: #b5b5b5ed;
    font-size: 1.3vw;
    font-weight: 500;
    margin-right: 5%;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hours {
    color: #b5b5b5ed;
    margin-right: 10%;
    text-decoration: underline;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-self: start;
    align-items: center;
    height: 100%;
    margin-left: 2%;
    width: 35%;
}
.middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-right: 1%;
}
.achieve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-right: 5%;
}
.achieveFraction {
    color: #b5b5b5ed;
    font-weight: 400;
}
.achievePercentage {
    color: #b5b5b5ed;
    font-size: 1.2em;
    margin-top: 2%;
}
.player {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    width: 20vw;
    height: 12vh;
    top: 0;
    right: 0;
    z-index: 9999;
    font-family: "Montserrat", sans-serif;
}
.pfp {
    aspect-ratio: 1/1;
    height: clamp(50px, 9vh, 75px);
    border-radius: 80%;
    object-fit: contain;
    opacity: 1;
    margin-right: 20px;
    border: 3px solid #5a5a5a96;
    transition-duration: 0.1s;
}
.name1 {
    color: #b5b5b5bb;
    font-size: 1.4em;
    font-weight: 500;
    margin-right: 5%;
    width: fit-content;
}
.pfp:hover {
    scale: 1.1;
    cursor: pointer;
}
.pfp:active {
    scale: 1.05;
}



.gameWin {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 0;
    background: linear-gradient(0.25turn, rgba(168, 143, 0, 0.322),#21203891);
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: #b5b5b5ed;
    border: 4px  rgba(194, 159, 46, 0.774)
}
.imgWin {
    height: 64px;
    margin-right: 10%;
    width: 64px;
    border-radius: 20%;
    border: 3px solid rgb(0, 0, 0);
    /* box-shadow: rgb(41, 41, 41) 4px 4px; */
    margin-left: 1%;
    flex-shrink: 0;
    object-fit: cover;   
    /* image-rendering: pixelated; */
    box-shadow: 0 0 2px rgba(255, 215, 0, 0.5), 0 0 10px rgba(255, 215, 0, 0.5), 0 0 20px rgba(255, 215, 0, 0.5), 0 0 80px rgba(255, 215, 0, 0.5); 
}
.achieveWin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-right: 5%;
}
.playerDropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: -30vh;
    right: 0;
    z-index: 9998;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(76, 73, 105, 0.23);
    width: 18vw;
    height: 30vh;
    transition-duration: 0.5s;
    border-bottom-left-radius: 5%;
}
.dropdownContainer {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    width: 100%;
}
.dropdownActive {
    top: 0vh;
}
.dropdownElement {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.2em;
    padding-right: 25px;
    color: #b5b5b5bb;
}
.dropdownTop {
    margin-top: 12vh;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.2em;
    padding-right: 25px;
    color: #b5b5b5bb;
    font-weight: 500;
}
.steamLink {
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
.steamLink:hover {
    background-color: #63638042;
    cursor: pointer;
}
.userIdChange {
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userIdInput {
    margin-right:5%;
    background-color: #21203897;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    color: #b5b5b5bb;
    transition: 0.4s;
    border: 1px solid #21203897;
}
.userIdInput:focus {
    outline: none;
    background-color: #2f2e428f;
    border: 1px solid #5656788f;
}
.userIdButton {
    background-color: #21203897;
    border: none;
    border-radius: 4px;
    color: #b5b5b5bb;
    transition: 0.2s;
    border: 1px solid #21203897;
    height: 25px;
    width: 30px;
}
.userIdButton:hover {
    background-color: #2f2e428f;
    border: 1px solid #5656788f;
    cursor: pointer;
}
.userIdButton:active {
    transition: 0.1s;
    background-color: #262636da;
    border: 1px solid #5656788f;
}
.pleaseLogIn {
    color: #b5b5b5ed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
}
@keyframes sway {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }

}

.pleaseLogInText {
    position: relative;
    animation: sway 5s infinite; /* The animation will take 5 seconds to complete and will run indefinitely */
}

.userIdInput1 {
    margin-right:5%;
    background-color: #21203897;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    color: #b5b5b5bb;
    transition: 0.4s;
    border: 1px solid #4f4e6697;
    height: 25px;
}
.userIdInput1:focus {
    outline: none;
    background-color: #2f2e428f;
    border: 1px solid #5656788f;
}
.userIdButton1 {
    background-color: #21203897;
    border: none;
    border-radius: 4px;
    color: #b5b5b5bb;
    transition: 0.2s;
    border: 1px solid #4f4e6697;
    height: 25px;
    width: 30px;
}
.userIdButton1:hover {
    background-color: #2f2e428f;
    border: 1px solid #5656788f;
    cursor: pointer;
}
.userIdButton1:active {
    transition: 0.1s;
    background-color: #262636da;
    border: 1px solid #5656788f;
}   